header {
	/* position: fixed; */
	padding-top: 2em;
	width: 13em;
	height: 100vh;
	flex-direction: column;
	display: flex;
	align-items: center;
	-webkit-app-region: drag;
	/* height: 40px; */
	background: whitesmoke;
	user-select: none;
	/* padding: 0 10px; */
	text-align: center;
	overflow: hidden;
	z-index: 1000;
	text-align: right;
}

/* header > svg {
	/* color: black !important; */
/* }  */

header > a {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > a:hover {
	background: #0404040d;
	cursor: default;
	/* border-left: 4px solid #272727; */
}

header > a.active {
	color: black;
	background: #0404040d;
	/* border-left-color: var(--grey); */
	border-left: 4px solid #272727;
}

/* header > span {
	font-size: large;
	text-align: center;
	margin-left: 1em;
	zoom: 1;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
} */

.action-panel {
	width: 13em;
	border-right: 2px solid #f9f9f9;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: 0em;
}

.action-panel > a {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.action-panel > a:hover {
	background: #0404040d;
	cursor: default;
}

.action-panel > label {
	font-size: 12pt;
	margin: 10px 10px 0px 10px;
}

.action-panel > div {
	font-size: 12pt;
	margin: 0 6px;
}
.action-panel > div > * {
	font-size: 12pt;
}

/* .action-bar {
	padding-top: 3em;
	width: 12em;
	height: 100vh;
	flex-direction: column;
	display: flex;
	align-items: center;
	-webkit-app-region: drag;
	background: whitesmoke;
	user-select: none;
	text-align: center;
	overflow: hidden;
	z-index: 1000;
	text-align: right;
} */

header > .logo {
	font-size: large;
	font-weight: lighter;
	padding: 1em;
}
